
<table cellspacing="0">
  <tr>
    <td id="mainmenu">
      <a class="menuMain" href="<{$block.url_1}>"><{$block.arrow}><{$block.basket}></a>
      <a class="menuMain" href="<{$block.url_2}>"><{$block.arrow}><{$block.order_status}></a>
      <a class="menuMain" href="<{$block.url_4}>"><{$block.arrow}><{$block.policy}></a>
      <a class="menuMain" href="<{$block.url_3}>"><{$block.arrow}><{$block.site_status}></a>
    </td>
  </tr>
</table>
<{php}>echo '<div style="text-align:center;font-size:11px;">'.UUCART_AUTHOR.'</div>';<{/php}>
