
<p style="text-align : center;">
<table border="0" cellpadding="3" cellspacing="3" style="width : 100%;">
	<tbody>
		<tr>
		  <td style="text-align:center;padding:10px;"><{$dat.no}><br><{$dat.itemimg}><br><{$dat.othermain}><br><{$dat.zoom}></td>
		  <td style="text-align:left;padding:10px;"> <span style="font-size : 13px;font-weight : bold;"><{$dat.categorytop}><{$dat.mainlink}></span><{php}>echo ' '._UCART_ITEM_CLICK;<{/php}><hr style="color : #800080;border-width : 3px;border-style : double;">
		  <{$dat.sub}><br>
		  <br>
		  <{$dat.mstock}><br>
		  <{$dat.mprice}><br>
		  <{$dat.reference}><br>
		  <{$dat.coolim}><br>
		  <{$dat.buy_rankimg}><br></td>
		</tr>
		<tr>
			<td class="head" colspan="2"><{$title}></td>
		</tr>
		<tr>
			<td class="even" colspan="2"><{$form}></td>
		</tr>
	</tbody>
</table>
</p>

