
<script type="text/javascript">
<!--
function openPreviewWindow(url,name,width,height)
{
	var options = "width="+width+",height="+height+"toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no";
	new_window = window.open(url, name, options);
	window.self.name = "main";
	new_window.focus();
}
function send(f)
{
	var n = parseInt(f.gid.value);
	var m = parseInt(f.purchase.value);
	var s = parseInt(f.stock.value);
	if (m <= s) {
		location.href = "index.php?ucart=carton&amp;item="+n+"&amp;purchase="+m+"&amp;vstock="+s;
	} else {
		window.alert("<{php}>echo _UUCART_OVER_ITEMS;<{/php}>");
		f.purchase.value = 1;
		return false;
	}
	return true;
}
function category_change(category)
{
	var n = category.selectedIndex;
	location.href = "index.php?ucart=pickup&amp;mod="+category.options[n].value;
}
function goods_change(goods)
{
	var n = goods.selectedIndex;
	location.href = "index.php?ucart=main&amp;item="+goods.options[n].value;
}

//-->
</script>
<table border="0">
  <tbody>
	<tr>
	  <td colspan="2" style="background-image:url(<{php}>echo _UCART_BG1_IMG;<{/php}>);background-repeat:repeat-x;font-size:14px;font-weight : bold;padding:8px;"><{$title}></td>
	</tr>
	<tr>
	  <td colspan="2" style="text-align:center;"><{$selecter}></td>
	</tr>
	<{if $goods !== false}>
	<{foreach from=$goods item=dat}>
	<tr>
	  <td style="text-align:center;padding:10px;"><{$dat.no}><br><{$dat.itemimg}><br><{$dat.othermain}><br><{$dat.zoom}></td>
	  <td style="text-align:left;padding:10px;"><form name="<{$dat.formname}>">
	  <span style="font-size : 13px;font-weight : bold;"><{$dat.categorytop}><{$dat.mainlink}></span><{php}>echo ' '._UCART_ITEM_CLICK;<{/php}><hr style="color : #800080;border-width : 3px;border-style : double;">
	  <{$dat.sub}><br>
	  <br>
	  <{$dat.mstock}><br>
	  <{$dat.mprice}><br>
	  <{$dat.reference}><br>
	  <{$dat.coolim}><br>
	  <{$dat.buy_rankimg}><br><br>
	  <{$dat.purchase}><{$dat.hidden}><{$dat.hidden2}></form></td>
	</tr>
	<{/foreach}>
	<{else}>
	<tr>
	  <td colspan="2" style="text-align:center;"><{php}>echo _UUCART_PICK_NONE;<{/php}></td>
	</tr>
	<{/if}>
	<tr>
	  <td colspan="2" style="text-align:center;"><{$category.page}></td>
	</tr>
  </tbody>
</table>
<{php}>echo '<div style="text-align:center;font-size:11px;">'.UUCART_AUTHOR.'</div>';<{/php}>

